.client-loan-page {
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.client-loan-page .header {
    text-align: center;
    margin-bottom: 20px;
}

.client-loan-page .header-logo {
    max-width: 150px;
}
.header-logo{
    width: 80%; /* Ajusta el tamaño según tus necesidades */
    display: block;
    margin: 0 auto 20px; /* Centra la imagen y añade un margen inferior */
}
.client-loan-page .loan-details-container {
    max-width: 800px;
    margin: 0 auto;
}

.client-loan-page .loan-details {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.client-loan-page table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.payment-form{
    background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        margin-top: 20px;
}
.client-loan-page table, th, td {
    border: 1px solid #ccc;
}

.client-loan-page th, td {
    padding: 10px;
    text-align: left;
}

.client-loan-page th {
    background-color: #f4f4f4;
}

.client-loan-page form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.client-loan-page input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.client-loan-page button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #006728;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.client-loan-page button:hover {
    background-color: #004d1a;
}

.client-loan-page .error-message {
    color: red;
    font-size: 14px;
}
.payment-history{
    background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        margin-top: 20px;
}
/* Responsive styles */
@media (max-width: 768px) {
    .client-loan-page table, th, td {
        font-size: 14px;
    }

    .client-loan-page input, .client-loan-page button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .client-loan-page {
        padding: 10px;
    }

    .client-loan-page .loan-details-container {
        padding: 10px;
    }
    /* Añade esto a tu archivo style.css */

.payment-form, .payment-history {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.payment-form input, .payment-form button {
    margin-right: 10px;
}

.payment-history table {
    width: 100%;
    border-collapse: collapse;
}

.payment-history th, .payment-history td {
    border: 1px solid #ddd;
    padding: 8px;
}

.payment-history th {
    background-color: #f2f2f2;
}


    .client-loan-page table {
        font-size: 12px;
    }

    .client-loan-page input, .client-loan-page button {
        font-size: 12px;
    }
}
